* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2f343f;
  font-family: "Lato", sans-serif;
  color: #eceff4;
}

.recipe-link,
.recipe-link:link,
.recipe-link:visited {
  text-decoration: none;
  color: #eceff4;
  font-size: 24px;
}

.recipe-link:hover,
.recipe-link:active {
  color: #98c379;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  color: #3d84de;
  margin: 0 auto;
  padding: 50px 100px;
}

.recipes-container {
  margin: 0 auto;
  padding: 0px 120px;
}

.odin-return {
  margin: 0 auto;
  padding: 30px 100px;
  font-weight: 100;
}

.recipe-image {
  height: auto;
  width: 500px;
  margin: 0 auto;
  padding: 10px 100px 60px 100px;
}

.recipe-sarah {
  height: auto;
  width: 250px;
  margin: 0 auto;
  padding: 10px 100px 60px 100px;
}

.chef {
  height: auto;
  width: 250px;
  margin: 0 auto;
  padding: 0px 100px 10px 50px;
}
.recipe-pumpkin {
  height: auto;
  width: 350px;
  margin: 0 auto;
  padding: 10px 100px 60px 100px;
}

.recipe-introduction {
  font-size: 48px;
  margin: 0 auto;
  padding: 0px 100px 30px;
}

.recipe-paragraph {
  font-size: 24px;
  font-weight: 400;
  margin: 0 auto;
  padding: 0px 100px 30px;
}

.ingredients-container {
  font-size: 24px;
  font-weight: 400;
  margin: 0 auto;
  padding: 0px 100px 30px 125px;
}

.directions {
  font-size: 24px;
  font-weight: 400;
  margin: 0 auto;
  color: #98c379;
  padding: 0px 80px 10px;
}

.directions-container {
  font-size: 24px;
  font-weight: 400;
  margin: 0 auto;
  padding: 0px 20px 30px 125px;
}

.ingredients {
  font-size: 24px;
  font-weight: 400;
  margin: 0 auto;
  color: #98c379;
  padding: 0px 100px 30px;
}

.step {
  padding: 20px 0 20px 0;
}
